/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }

   .blocktext {
    display: block;
    margin-left: 30%;
    margin-right: auto;
/*    overflow: auto;*/
  }
     .blocktext2 {
    display: block;
    margin-left: 30%;
    margin-right: auto;
/*    overflow: auto;*/
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .blocktext {
    display: block;
    margin-left: 20%;
    margin-right: auto;
/*    overflow: auto;*/
  }

.sizing {
  width: 60%;
  height: 60%;
  font-size: 12px;
/*  text-align: left;*/
   white-space: normal;
  }

}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.resourcesLink {
  padding: 5px 5px 5px 5px;
  background-color: teal;
  color: white;

}

#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}
 