/*li {
box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}*/

.hide1 {
	display:none;
}

#hide2 {
	display:none;
}

#form3-panel{
 background-color: white;
  border: 4px solid #777777;
/*  border-style: round;*/
/*  margin-top: 6%; 
  margin-left: 10%;*/
  width: auto;
  height: auto;
  box-shadow: 10px 10px 5px #888888;
 /* max-height: 400px;*/
  resize: all;
  overflow: auto;
  text-align: center;
  font-weight: bold;

}
h6 {
text-align: center;
font-size: 20px;
font-weight: bold;
}

/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 

}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 

}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: center; 
}
/*Media Queries for the Table*/

/*weather icon */
.td-weather img {
	width: 30px;
	height: 30px;
}

.control {
  font-size: 15px;
  text-align: left;
}
